body {
	background: linear-gradient(-60deg,   #dbbce4, #f3cfd7,#f7e0ca,#f4f4f4,#d1dcfb,#d6f1df);
	background-size: 300% 300%;
	-webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.no-gutters > .col {
    padding-right: 0;
    padding-left: 0;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.tile {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	background-color: #ffffff
}

.hover {
	background-color: #55CDFC;
}

.pressed {
	background-color: #F7A8B8;
}
